In [2]:
import pandas as pd

df = pd.read_csv('sample_dataframe.csv')
df

/tmp/ipykernel_1658/4239921246.py:3: DtypeWarning: Columns (46,149,155,170) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sample_dataframe.csv')

,NUMENCRIPTADO,TIPO_DOCTO,ADU,FORM,FECVENCI,CODCOMUN,NUM_UNICO_IMPORTADOR,CODPAISCON,DESDIRALM,CODCOMRS,...,SIGVAL2,VAL2,OTRO3,CTA3,SIGVAL3,VAL3,OTRO4,CTA4,SIGVAL4,VAL4
0,19913953,151,39,15,27012023,13132,3499,331,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
1,19940004,101,48,15,19012023,13107,3351,225,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
2,19968928,101,33,15,9022023,13107,789,220,NaN,5301.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
3,19934414,151,34,15,10022023,8108,59,226,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
4,19945340,151,48,15,9022023,13125,6611,506,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,19937372,151,34,15,8022023,13101,11526,522,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9996,19967725,101,48,15,7022023,13123,1723,510,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9997,19959434,151,14,15,2022023,13125,8229,225,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9998,19939078,101,48,15,14022023,13123,4909,225,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9999,19944434,151,39,15,4022023,13114,9477,563,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0

In [ ]:
# We should model the data and normalize it (3NF), given that we have a lot of redundant data.

In [17]:
# Lets get rid of all columns that have a digit in their column name

df = df[df.columns.drop(list(df.filter(regex='[0-9]')))]

In [24]:
# Lets summarize the data and force show all columns

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df.describe())

# There seems to be a lot of columns with a lot of missing data. Lets get rid of the columns where the count is below the median count

df = df.dropna(thresh=df.shape[0]/2,axis=1)

,NUMENCRIPTADO,TIPO_DOCTO,ADU,FORM,FECVENCI,CODCOMUN,NUM_UNICO_IMPORTADOR,CODPAISCON,ADUCTROL,NUMPLAZO,INDPARCIAL,NUMHOJINS,TOTINSUM,CODALMA,NUM_RS,FEC_RS,ADUA_RS,NUMHOJANE,NUM_SEC,PA_ORIG,PA_ADQ,VIA_TRAN,PTO_EMB,PTO_DESEM,FEC_ALMAC,FECRETIRO,PAGO_GRAV,FECTRA,FECACEP,CODPAISCIA,NUMRUTCIA,FEC_MANIF,FEC_CONOC,NUMRUTEMI,REG_IMP,BCO_COM,CODORDIV,FORM_PAGO,NUMDIAS,MONEDA,CL_COMPRA,TOT_ITEMS,TOT_HOJAS,COD_FLE,TOT_BULTOS,COD_SEG,NUM_AUT,FEC_AUT,CTA_OTRO,TASA,NCUOTAS,ADU_DI,FEC_DI,NUMITEM,MERMAS,MEDIDA,ARANC-ALA,NUMCOR,NUMACU,ARANC-NAC,ADVAL
count,1.000000e+04,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.000000,10000.0,10000.0,10000.0,10000.0,1.000000e+04,10000.000000,10000.0,10000.0,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04,10000.00000,1.000000e+04,1.000000e+04,10000.000000,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000,10000.0,10000.0,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.0,10000.000000,10000.0,10000.0,10000.0,10000.0,10000.000000,10000.0,10000.000000,9.909000e+03,10000.000000,9893.000000,1.000000e+04,10000.000000
mean,1.993993e+07,132.592700,40.250900,14.992500,1.575361e+07,12540.520600,6154.218600,370.265300,0.0,0.370100,0.000500,0.0,0.0,0.0,0.0,2.432327e+05,0.563000,0.0,0.0,382.779200,370.017000,3.228100,360.460600,940.444500,6.426103e+06,5.402991e+05,2.80590,1.625542e+07,1.625542e+07,575.839100,7.883390e+07,7.228057e+06,1.596663e+07,7.950735e+07,52.030600,0.0,0.0,12.117000,45.959900,49.505300,5.29560,23.675000,5.884900,0.072500,78.459800,0.548400,999.9,0.0,222.992200,0.0,0.0,0.0,0.0,12.231000,0.0,7.463900,3.633983e+07,0.000400,430.559284,6.679528e+07,222.969900
std,2.270672e+04,24.085839,8.718196,0.335343,9.212142e+06,2098.314358,3646.248908,148.315987,0.0,4.867124,0.022356,0.0,0.0,0.0,0.0,2.247957e+06,4.667656,0.0,0.0,179.272797,147.848128,2.947022,182.784509,58.835004,9.814623e+06,3.359750e+06,1.46821,8.516808e+06,8.516808e+06,303.795309,2.214458e+07,1.017855e+07,8.800546e+06,2.016180e+07,43.425525,0.0,0.0,15.572436,59.840862,69.288404,2.31304,50.341639,10.088361,0.597729,820.260297,1.268313,90.0,0.0,0.450288,0.0,0.0,0.0,0.0,29.441891,0.0,2.254197,3.687244e+07,0.031622,370.564608,2.501477e+07,2.274931
min,1.990078e+07,101.000000,3.000000,0.000000,0.000000e+00,1101.000000,5.000000,112.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,112.000000,112.000000,1.000000,111.000000,207.000000,0.000000e+00,0.000000e+00,1.00000,1.012023e+06,1.012023e+06,0.000000,0.000000e+00,0.000000e+00,1.012022e+06,0.000000e+00,1.000000,0.0,0.0,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,0.000000,1.000000,0.000000,999.0,0.0,197.000000,0.0,0.0,0.0,0.0,1.000000,0.0,5.000000,0.000000e+00,0.000000,0.000000,3.600000e+05,0.000000
25%,1.991970e+07,101.000000,39.000000,15.000000,8.022023e+06,13106.000000,3303.000000,225.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,225.000000,225.000000,1.000000,222.000000,906.000000,0.000000e+00,0.000000e+00,1.00000,9.012023e+06,9.012023e+06,331.000000,7.638022e+07,0.000000e+00,8.122022e+06,7.659349e+07,1.000000,0.0,0.0,1.000000,0.000000,13.000000,3.00000,3.000000,2.000000,0.000000,1.000000,0.000000,999.0,0.0,223.000000,0.0,0.0,0.0,0.0,1.000000,0.0,6.000000,0.000000e+00,0.000000,0.000000,4.202205e+07,223.000000
50%,1.994002e+07,151.000000,39.000000,15.000000,1.502202e+07,13114.000000,6591.000000,336.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,336.000000,336.000000,1.000000,399.000000,906.000000,0.000000e+00,0.000000e+00,4.00000,1.601202e+07,1.601202e+07,508.000000,8.272850e+07,0.000000e+00,1.601202e+07,7.894755e+07,72.000000,0.0,0.0,1.000000,30.000000,13.000000,5.00000,8.000000,3.000000,0.000000,2.000000,0.000000,999.0,0.0,223.000000,0.0,0.0,0.0,0.0,4.000000,0.0,6.000000,3.212100e+07,0.000000,538.000000,8.302429e+07,223.000000
75%,1.995985e+07,151.000000,48.000000,15.000000,2.401202e+07,13125.000000,8835.000000,508.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,506.000000,508.000000,4.000000,492.000000,992.000000,1.201202e+07,0.000000e+00,4.00000,2.401202e+07,2.401202e+07,997.000000,9.656694e+07,1.501202e+07,2.312202e+07,9.655188e+07,92.000000,0.0,0.0,32.000000,60.000000,48.000000,7.00000,21.000000,5.000000,0.000000,10.000000,0.000000,999.0,0.0,223.000000,0.0,0.0,0.0,0.0,10.000000,0.0,10.000000,8.208200e+07,0.000000,800.000000,8.517130e+07,223.000000
max,1.997909e+07,151.000000,92.000000,15.000000,3.101202e+07,16301.000000,13139.000000,997.000000,0.0,90.000000,1.000000,0.0,0.0,0.0,0.0,3.012202e+07,55.000000,0.0,0.0,999.000000,997.000000,11.000000,997.000000,998.000000,3.112202e+07,3.112202e+07,4.00000,3.101202e+07,3.101202e+07,999.000000,1.000000e+08,3.112202e+07,3.112202e+07,9.959520e+07,98.000000,0.0,0.0,84.000000,999.000000,900.000000,9.00000,580.000000,117.000000,5.000000,42400.000000,9.000000,9999.0,0.0,223.000000,0.0,0.0,0.0,0.0,508.000000,0.0,17.000000,9.619009e+07,3.000000,890.000000,9.619009e+07,223.000000

In [18]:
# It seems that the information about the product is spread out over multiple columns. Lets combine them into one column
# Then separate them using the "~" character instead of the original separator for the file ";"

# First lets concatenate the columns DNOMBRE, DMARCA, DVARIEDAD, DOTRO1 and DOTRO2 into one column

df['PRODUCTO'] = df['DNOMBRE'].astype(str) + df['DMARCA'].astype(str) + df['DVARIEDAD'].astype(str) + df['DOTRO1'].astype(str) + df['DOTRO2'].astype(str)

# Now lets split the columns using the "~" character to see how many columns we need

df['PRODUCTO'].str.split('~', expand=True)

# We need 12 columns, so lets create 12 new columns with the prefix "product_" and the number of the column

df[['product_1','product_2','product_3','product_4','product_5','product_6','product_7','product_8','product_9','product_10','product_11', 'product_12']] = df['PRODUCTO'].str.split('~', expand=True)

In [22]:
print(df.product_2.unique())

[' STATION WAGON' ' PUNTO DE ACCESO' ' CABLE DE COBRE' ...
 ' SEPARADOR DE ACEITE' ' ROTULA DE CILINDRO' ' GELATINAS ORGANICAS']

In [23]:
# Good thing that ARANC-ALA contains the product codes. Lets display them in plain text instead of scientific notation

df['ARANC-ALA'] = df['ARANC-ALA'].astype(str)

In [28]:
df['ARANC-ALA'].str[:4]

0       8703
1        0.0
2       8544
3       8708
4       8536
        ...
9995    8418
9996    8506
9997     0.0
9998     0.0
9999    2942
Name: ARANC-ALA, Length: 10000, dtype: object